body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container img{
    width: 400px;
    height: 450px;
    border-radius: 60%;
}
.container{
    padding: 16px;
    
}
#profile-image{
    text-align: center;
    margin: -16px;    
    background-color: #2b2222;
    color: white;
}
.container h2{
    text-align: center;
}
.social-links img{
    width: 100px;
    height: 100px;
}
.social-links{
    text-align: center;
    background-color: #7e7979;
    margin: -16px;
    color: white;
}
.container p {
    font-size: 20px;
}
.hobbies-class ol{
    font-size: 20px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }